body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.links h2 {
  text-transform: uppercase;
}

.links {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  padding-bottom: 0;
  top: 0;
  border-bottom: 1px solid #d3d3d3;
}

.links ul {
  display: flex;
  list-style-type: none;
  gap: 20px;
}

.links ul li a {
  text-decoration: none;
}

.posts {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
}

.user {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  padding: 20px;
  cursor: pointer;
}

.book {
  padding: 0;
}

.user:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

main {
  padding: 20px;
}

.book img,
.single-book img {
  width: 100%;
  height: 350px;
  max-width: 400px;
}

.book div {
  padding: 0 20px 0 20px;
  border-top: 1px solid #d3d3d3;
}

.book div p {
  margin-top: -15px;
  font-size: 15px;
  opacity: 0.6;
}
